@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.eot");
  src: url("../fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff"),
    url("../fonts/Helvetica-Bold.ttf") format("truetype"),
    url("../fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Light.eot");
  src: url("../fonts/Helvetica-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff"),
    url("../fonts/Helvetica-Light.ttf") format("truetype"),
    url("../fonts/Helvetica-Light.svg#Helvetica-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-BoldOblique.eot");
  src: url("../fonts/Helvetica-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Helvetica-BoldOblique.woff2") format("woff2"),
    url("../fonts/Helvetica-BoldOblique.woff") format("woff"),
    url("../fonts/Helvetica-BoldOblique.ttf") format("truetype"),
    url("../fonts/Helvetica-BoldOblique.svg#Helvetica-BoldOblique")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.eot");
  src: url("../fonts/Helvetica.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Helvetica.woff2") format("woff2"),
    url("../fonts/Helvetica.woff") format("woff"),
    url("../fonts/Helvetica.ttf") format("truetype"),
    url("../fonts/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Helvetica";
  font-weight: 400;
  overflow-x: hidden;
  background: #1b346a;
}

.font-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}

.modal-backdrop.show {
  opacity: 0.9;
}

.border-radius-0 {
  border-radius: 0px !important;
}

button:focus,
a:focus,
select:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pos-rel {
  position: relative;
}

.height-100 {
  height: 100%;
}

.list-style-none {
  list-style: none;
}

.bg-blue {
  background: #1b346a;
}

.min-height-100 {
  min-height: 100vh;
}

header .navbar-brand {
  max-width: 204px;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  max-width: 1010px !important;
}

header .navbar-nav .nav-link {
  font-size: 16px;
  color: #fff;
  padding: 0px 13px !important;
  font-family: "Helvetica";
  font-weight: 300;
  transition: color 0.4s ease 0s;
}

header .navbar-nav .phoneNumber {
  margin-left: 10px;
}

header .navbar-nav .phoneNumber .nav-link {
  font-size: 19px;
  font-weight: 700;
}

header .navbar-nav .phoneNumber img {
  margin-right: 10px;
  position: relative;
  top: -10px;
}

header .nav-item {
  position: relative;
}

header .nav-item::after {
  content: "";
  position: absolute;
  background: #7a754e;
  width: 1px;
  height: 17px;
  right: 0px;
  top: 0px;
}

header .nav-item.phoneNumber:after,
header .nav-item.content-none:after {
  content: none;
}

header {
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: #1b346a;
}

header .navbar {
  align-items: flex-end;
}

header .navbar-nav {
  margin-bottom: 30px;
}

header .navbar-nav .active .nav-link,
header .navbar-nav .nav-link:hover {
  color: #87b1cb;
}

header .droupDown {
  background-color: rgba(27, 53, 107, 0.72);
  position: absolute;
  width: 150px;
  list-style: none;
  padding-left: 0px;
  left: 0px;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

header .droupDown li {
  padding: 8px 5px;
  border-bottom: 1px solid #7a754e;
}

header .droupDown li:last-child {
  border-bottom: 0px;
}

header .navbar-nav .droupDown .nav-link {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

header .nav-item:hover .droupDown {
  visibility: visible;
  pointer-events: unset;
}

header .navbar-toggler span {
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}

header .navbar-toggler span:last-child {
  margin-bottom: 0px;
}

footer {
  background: #fff;
  margin-bottom: 30px;
}

footer .copyRight {
  font-size: 12px;
  color: #868686;
  text-align: center;
  padding: 27px 0px;
  font-weight: 400;
  font-family: "Helvetica";
  position: relative;
}

.patientInquiryForm {
  padding-top: 196px;
  padding-bottom: 50px;
}

.patientInquiryForm .innerWrap {
  background: #fff;
  padding: 30px 10px 33px 30px;
}

.patientInquiryForm h2 {
  font-size: 25px;
  line-height: 41px;
  color: #303030;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.patientInquiryForm .formWrap {
  padding-left: 35px;
}

.patientInquiryForm .formWrap label {
  font-size: 18px;
  color: #303030;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 20px;
}

.patientInquiryForm .form-control {
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  height: auto;
  padding: 5.5px 10px;
  border-radius: 0px;
  width: 100%;
  color: #303030;
  font-weight: 400;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  padding-right: 36px;
}

.patientInquiryForm .form-control:focus {
  color: #303030;
  background-color: #fff;
  border-color: #c6c6c6;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.patientInquiryForm .form-group {
  max-width: 380px;
  width: 100%;
  margin-bottom: 20px;
}

.patientInquiryForm .selectWrap img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  pointer-events: none;
}

.patientInquiryForm .submitBtn {
  font-size: 20px;
  color: #1b356b;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  height: 40px;
  background-color: #ecc716;
  border: none;
  width: 150px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
  outline: none;
}

.patientInquiryForm .counselingCurrently {
  display: flex;
  flex-wrap: wrap;
}

.patientInquiryForm .counselingCurrently .checkboxWrap {
  margin-right: 20px;
}

footer .copyRight::after {
  background: #808080;
  height: 106px;
  width: 8px;
  content: "";
  position: absolute;
  right: 0px;
  top: -5px;
  z-index: -1;
}

footer .copyRight::before {
  background: #808080;
  height: 3px;
  width: 8px;
  content: "";
  position: absolute;
  right: 0px;
  top: -3px;
}

.checkboxWrap [type="checkbox"]:not(:checked),
.checkboxWrap [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.checkboxWrap [type="checkbox"]:not(:checked) + label,
.checkboxWrap [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}

/* checkbox aspect */
.checkboxWrap [type="checkbox"]:not(:checked) + label:before,
.checkboxWrap [type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 18px;
  height: 18px;
  border: 1px solid #c6c6c6;
  background: #fff;
  border-radius: 0px;
}

/* checked mark aspect */
.checkboxWrap [type="checkbox"]:not(:checked) + label:after,
.checkboxWrap [type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 8px;
  left: 2px;
  font-size: 17px;
  line-height: 0.8;
  color: #303030;
  transition: all 0.2s;
}

/* checked mark aspect changes */
.checkboxWrap [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.checkboxWrap [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
.checkboxWrap [type="checkbox"]:disabled:not(:checked) + label:before,
.checkboxWrap [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

#freeText,
.freeCheckField {
  display: none;
}

.invalid-input {
  border: 1px solid red !important;
}

/**************************************** ADMIN CSS ************************************/

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

:root {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

button:focus,
a:focus,
select:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
}

.pos-rel {
  position: relative;
}

.height-100 {
  height: 100%;
}

.color-blue {
  color: #00aeef !important;
}

.add-btn {
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
}

.add-btn:hover {
  color: #fff;
}

.adminHeader {
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: #1b346a;
}

.right-content-Wrap {
  flex: 1;
  display: flex;
  flex: 1;
  -ms-flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  padding: 50px 30px;
  min-height: calc(100vh - 71px);
}

.sidebar {
  flex: 0 0 220px;
  min-width: 220px;
  background: #1b346a;
  height: 100%;
  overflow: auto;
  padding: 20px 0px;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s,
    -ms-flex 0.25s;
}

.sidebar.hide {
  margin-left: -220px;
}

.main-content-wrapper {
  padding-top: 87px;
  background: #f3f6f8;
}

.adminHeader .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  color: #00aeef;
  padding-left: 0px !important;
  padding-right: 0px !important;
  transition: all 0.6s ease-out;
}

.adminHeader .nav-link > span {
  color: #231f20;
  font-weight: 600;
}

.adminHeader .dropdown-item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  color: #231f20;
  transition: all 0.5s ease-out;
  padding: 10px 15px;
}

.adminHeader .dropdown-menu {
  right: 0px;
  left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.adminHeader .dropdown-item:focus,
.adminHeader .dropdown-item:hover,
.adminHeader .dropdown-item.active {
  background-color: #00aeef;
  color: #fff;
}

.btn-blue-bg:hover,
.btn-bg-yellow:hover {
  background-position: left bottom;
}

.btn-bg-yellow {
  background: linear-gradient(to right, #d67e18 50%, #f69321 50%);
}
.btn-blue-bg {
  background: linear-gradient(to right, #2a4b9a 50%, #2d4c90 50%);
}

.btn-blue-bg,
.btn-bg-yellow {
  background-size: 201% 100%;
  transition: all 0.3s ease-out;
  background-position: right bottom;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.8125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: block;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar li a:hover,
.sidebar li a.active {
  background: #0b62ab;
}

.sidebar .inner-menus a {
  padding-left: 38px;
}

.sidebar .icon-wrap {
  margin-right: 10px;
}

.sidebar .icon-wrap img {
  width: 20px;
}

.sidebar li a[data-toggle="collapse"]:after {
  content: "";
  background-image: url("../../assets/admin/img/arrow-down.svg");
  position: absolute;
  right: 20px;
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  top: 16px;
  transform: rotate(180deg);
}

.sidebar li a.collapsed:after {
  top: 18px;
  transform: rotate(0deg) !important;
}

.right-content-Wrap .card-header {
  background-color: #e6eaed;
}

.right-content-Wrap .table-striped tbody tr:nth-of-type(2n + 1) {
  background-color: #f3f6f8;
}

.right-content-Wrap .table thead th {
  background: #e6eaed;
  vertical-align: top;
}

.right-content-Wrap .table thead th {
  border-bottom: 1px solid #dee2e6;
}

.right-content-Wrap .table {
  border: 1px solid #dee2e6;
}

.right-content-Wrap .table .btn {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  font-weight: 500;
}

.right-content-Wrap .table th {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.right-content-Wrap .table td {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  white-space: normal;
  /* word-break: break-word; */
}
.right-content-Wrap .form-control {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.right-content-Wrap .form-control:focus {
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.width-22 {
  width: 22.5%;
}

.width-10 {
  width: 10%;
}

.right-content-Wrap table td .btn {
  margin-right: 10px;
}

.right-content-Wrap table td .btn:last-child {
  margin-right: 0px;
}

.right-content-Wrap .card-header {
  font-weight: 600;
}

.right-content-Wrap .input-group-text {
  background-color: #e6eaed;
}

.adminHeader .sideBarToggler {
  background: transparent;
  border: none;
}

.adminHeader .sideBarToggler img {
  width: 28px;
}

.pagination .page-link:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.pagination .page-item.active .page-link,
.pagination .page-link:hover {
  background-color: #1b346a;
  border-color: #1b346a;
  color: #fff;
}

.pagination .page-link {
  color: #212529;
}

.filterWrap .input-group {
  max-width: 320px;
  padding-right: 10px;
}

.filterWrap .submitBtn {
  color: #fff;
  border-radius: 30px;
  width: 115px;
  text-align: center;
  padding: 10px 10px;
  border: none;
  font-weight: 600;
  outline: none;
}

.loginRegisterModal .form-control {
  font-size: 0.9375rem;
  color: #b5b5b5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: 1px solid #d2d2d2;
  padding: 11px 12px;
  height: auto;
  border-radius: 9px;
}

.loginRegisterModal .form-group .form-control:focus,
.contactformWrap .form-control:focus {
  border: 1px solid #d2d2d2;
  box-shadow: 0px 0px 0px 0px;
  border-radius: 9px;
}

.loginRegisterModal .form-group {
  margin-bottom: 10px;
  position: relative;
}

.loginRegisterModal h2 {
  font-size: 2.1875rem;
  color: #231f20;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.loginRegisterModal .modal-header button {
  background: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}

.loginRegisterModal .modal-header {
  border-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.loginRegisterModal .modal-body {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.loginRegisterModal .leftSection p {
  font-size: 1.25rem;
  color: #231f20;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 62px;
}

.loginRegisterModal .leftSection p a {
  font-weight: 400;
}

.loginRegisterModal .form-group a {
  font-size: 0.8125rem;
  color: #0085b7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-left: auto;
}

.loginRegisterModal .form-group .form-control.submitBtn {
  font-size: 1rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 1px solid #f69322;
}

.loginRegisterModal .form-group .form-control::-webkit-input-placeholder,
.changePasswordWrap .form-control::-webkit-input-placeholder,
.contactformWrap .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b5b5b5;
  opacity: 1;
}

.loginRegisterModal .form-group .form-control::-moz-placeholder,
.changePasswordWrap .form-control::-moz-placeholder,
.contactformWrap .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #b5b5b5;
  opacity: 1;
}

.loginRegisterModal .form-group .form-control:-ms-input-placeholder,
.changePasswordWrap .form-control:-ms-input-placeholder,
.contactformWrap .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #b5b5b5;
  opacity: 1;
}

.loginRegisterModal .form-group .form-control:-moz-placeholder,
.changePasswordWrap .form-control:-moz-placeholder,
.contactformWrap .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #b5b5b5;
  opacity: 1;
}

.loginRegisterModal .rememberWrap {
  margin-top: 25px;
  margin-bottom: 30px;
}

.loginRegisterModal .leftSection {
  padding-top: 25px;
}

.loginRegisterModal .eyeIcon {
  /* background: url("../../admin/img/show.png"); */
  width: 21px;
  height: 13px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 12px;
  top: 17px;
}

.loginRegisterModal .modal-content {
  border-radius: 25px;
}

.loginWrap .loginRegisterModal {
  max-width: 930px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.loginWrap {
  min-height: 100vh;
}

.loginWrap .modal-header {
  margin-bottom: 25px;
}

/* custom check box css  */
.cst-checkBox [type="checkbox"]:not(:checked),
.cst-checkBox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.cst-checkBox [type="checkbox"]:not(:checked) + label,
.cst-checkBox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 0.8125rem;
  color: #da7503;
  font-family: "Poppins";
  font-weight: 400;
}

/* checkbox aspect */
.cst-checkBox [type="checkbox"]:not(:checked) + label:before,
.cst-checkBox [type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #da7503;
  background: #fff;
  border-radius: 0px;
}

/* checked mark aspect */
.cst-checkBox [type="checkbox"]:not(:checked) + label:after,
.cst-checkBox [type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 4px;
  left: 3px;
  font-size: 13px;
  line-height: 0.8;
  color: #da7503;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}

/* checked mark aspect changes */
.cst-checkBox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.cst-checkBox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
.cst-checkBox [type="checkbox"]:disabled:not(:checked) + label:before,
.cst-checkBox [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.cst-checkBox [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.cst-checkBox [type="checkbox"]:disabled + label {
  color: #aaa;
}

/* end */

.loginRegisterModal.forgotPassword {
  max-width: 500px;
}

.loginRegisterModal.forgotPassword .form-group {
  margin-bottom: 30px;
}

.loginRegisterModal.forgotPassword .form-group .form-control.submitBtn {
  max-width: 200px;
  margin: auto;
}

#forgotPassword .modal-header,
#forgotPassword .modal-body {
  padding-left: 20px;
  padding-right: 20px;
}

#forgotPassword.loginRegisterModal .form-group .form-control.submitBtn {
  max-width: 200px;
  margin: auto;
  margin-top: 20px;
}

#forgotPassword .modal-header {
  margin-bottom: 20px;
}

#forgotPassword .modal-dialog {
  top: 15%;
}

#forgotPassword .modal-content {
  border: 0px;
}

.changePasswordWrap {
  max-width: 550px;
  margin: auto;
  width: 100%;
}

.changePasswordWrap .form-control {
  font-size: 0.9375rem;
  color: #b5b5b5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: 1px solid #d2d2d2;
  padding: 11px 12px;
  height: auto;
  border-radius: 9px;
}

.changePasswordWrap .submitBtn {
  font-size: 0.9375rem;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  border: none;
  border-radius: 9px;
  line-height: 50px;
  max-width: 220px;
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 25px;
}

.contactformWrap .form-control {
  font-size: 0.9375rem;
  color: #464242;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: 1px solid #d2d2d2;
  padding: 11px 12px;
  height: auto;
  border-radius: 9px;
}

.bg-grey,
.right-content-Wrap {
  background-color: #f6f6f6;
}

.contactformWrap textarea.form-control {
  height: 125px;
  resize: none;
}

.contactformWrap .form-group {
  margin-bottom: 20px;
}

.contactformWrap .mandatoryText {
  font-size: 0.9375rem;
  color: #f83535;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.contactformWrap .cst-checkBox [type="checkbox"]:not(:checked) + label,
.contactformWrap .cst-checkBox [type="checkbox"]:checked + label {
  font-size: 0.9375rem;
  line-height: 19px;
  color: #636363;
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 20px;
}

.contactformWrap .submitBtn {
  font-size: 1rem;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  border: none;
  border-radius: 9px;
  line-height: 50px;
  max-width: 180px;
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  outline: none;
}

.contactUsWrap {
  max-width: 950px;
  margin: auto;
}

.contactformWrap .cst-checkBox [type="checkbox"]:not(:checked) + label::before,
.contactformWrap .cst-checkBox [type="checkbox"]:checked + label::before {
  top: 4px;
}

.contactformWrap .cst-checkBox [type="checkbox"]:not(:checked) + label::after,
.contactformWrap .cst-checkBox [type="checkbox"]:checked + label::after {
  top: 6px;
}

.contactformWrap .col-md-12:last-child .form-group {
  margin-bottom: 10px;
}

.contactUsWrap .leftImageWrap {
  padding-top: 25px;
}

.contactUsWrap .droupDown:after {
  content: "";
  background: url("../../assets/admin/img/dropdown_brown.png");
  width: 12px;
  height: 7px;
  display: block;
  position: absolute;
  right: 20px;
  top: 22px;
}

.table-wrap .btn-warning {
  color: #fff;
  background-color: #f69321;
  border-color: #f69321;
}

.table-wrap .btn-warning:hover {
  color: #fff;
  background-color: #d67e18;
  border-color: #d67e18;
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
  width: 192px;
  height: 192px;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.upload-btn-wrapper .btn {
  background-color: transparent;
  padding: 0px;
  border: none;
}
.upload-btn-wrapper .hiddenInput {
  width: 190px;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  height: 100%;
}
.upload-btn-wrapper .editImage {
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  position: absolute;
  right: 23px;
  top: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-btn-wrapper .editImage img {
  width: 15px;
}
.upload-btn-wrapper .btn {
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
.map-table .mapImg {
  width: 80px;
}
.map-table .width-5 {
  width: 5%;
}
.map-table .width-10 {
  width: 10%;
}
.map-table .width-24 {
  width: 24%;
}
.map-table .width-41 {
  width: 41%;
}
.map-table .width-20 {
  width: 20%;
}

.addMapWrap .upload-btn-wrapper {
  box-shadow: 0px 0px 0px 0px;
  width: 180px;
  height: auto;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  border: none;
  border-radius: 9px;
  line-height: 50px;
}
.addMapWrap .upload-btn-wrapper .btn {
  color: #fff;
}
.addMapWrap .uploadMapImg {
  position: relative;
}
.addMapWrap .uploadMapImg a {
  position: absolute;
  right: 3px;
  top: -15px;
}
.addMapWrap {
  max-width: 700px;
  margin: auto;
}

/******************************* CUSTOM CSS  ******************************/
.col-white {
  color: white !important;
}

.blue-bg {
  color: #ffff;
  background-color: #2d4c90 !important;
}

.error-text {
  color: red;
  font-size: 14px;
}
a {
  cursor: pointer;
}

.btn-orange-bg {
  background: #f69321;
}

.btnDisable {
  pointer-events: none;
  cursor: alias;
}
.ml-10 {
  margin-left: 10px;
}

.calendarIcon {
  max-width: 20px;
}
.noData {
  text-align: center;
  margin: 10%;
}
.blue-btn {
  border: none;
  background: #1b346a;
  color: #ffff;
  border-radius: 5px;
  font-size: 13px;
  padding: 8px;
}
.green-btn {
  border: none;
  background: rgb(3, 95, 3);
  color: #ffff;
  border-radius: 5px;
  font-size: 13px;
  padding: 8px;
}

.red-btn {
  border: none;
  background: rgb(255, 8, 8);
  color: #ffff;
  border-radius: 5px;
  font-size: 13px;
  padding: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.col-green {
  color: green;
}
.col-white {
  color: white !important;
}
